default: &default
  adapter: postgresql
  encoding: unicode
  pool: 80
  host: localhost
  username: user
  password: pass

development:
  <<: *default
  database: app_development

test:
  <<: *default
  database: app_test

production:
  <<: *default
  database: app_production
  host: <%= ENV['DB_HOST'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASS'] %>
